.coontainer{
    gap: 2em;
    height: 120dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('/rose.png');

    .testimonials__users{
        gap: 2em;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, minmax(14rem, 320px));
    }

    .testimonials__user{
        gap: 1em;
        padding: 1em;
        height: 360px;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--clr-white);
    }

    .img__wrapper{
        width: 80px;
        height: 80px;
    }


    [type="text"]{
        border: none;
        padding: 0.4em;
        width: 400px;
        border-radius: 3125rem;
        background: var(--clr-whitesmoke);

        &::placeholder{
            text-align: center;
            color: var(--clr-dark);
            font-size: var(--size-xs);
            accent-color: red;
        }
    }
}