.header{
    z-index: 5;
    width: 100%;
    position: absolute;

    .header__nav{
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-box{
        width: 150px;
        height: 80px;
        overflow: hidden;
        /* border: 1px solid red; */
    }

    .header__menu{
        gap: 2em;
        display: flex;
        list-style: none;
        padding-right: 1em;
    }

    .header__bars{
        width: 30px;
        height: 30px;
        color: #fff;
        display: none;
    }

    .header__links{
        text-decoration: none;
        color: var(--clr-white);
    }

    .header__shopping-bag{
        width: 20px;
        height: 20px;

        a{
            color: var(--clr-white);
        }
    }
}


/* md */
@media (max-width: 48rem) {
    .header{
        z-index: 5;
        width: 100%;
        position: absolute;
        .header__nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header__menu{
            display: none;
        }

        .header__bars{
            display: block;
        }

        .header__links{
            text-decoration: none;
            color: var(--clr-white);
        }
    }
}

