.join{
    gap: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    .join__banner{
        gap: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    [class*="sect-"]{
        width: 500px;
        height: 500px;
    }
}


/* 2l */
/* @media (max-width: 96rem) {} */

/* xl */
/* @media (maw-width:80rem) {} */

/* lg */
@media (max-width:64rem) {
    .join{
        .join__banner{
            flex-direction: column;
        }

        [class*="sect-"]{
            width: 90%;
        }
    }
}

/* md */
/* @media (max-width: 48rem) {} */

/* sm */
/* @media (max-width: 40rem) {} */

/* xs */
/* @media (max-width: 29.6875rem) {} */
